.seat-container { 
    display:grid; 
    grid-template-columns: auto auto auto auto; 
    gap: 15px; 
    background-color:black; 
    padding: 15px;
}

.seat-container > div { 
    background-color:white; 
    border: 1px solid black;
    text-align:center; 
    font-size:35px; 
    font-family:arial;
}

a:hover { 
    background-color:lime; 
    color:black;
}